@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
:root{
  --azul:#2069F7;
  --gris:#F6F6F2;
  --negro:#121212;
  --danger: #DC3545;
}

*{
  font-family: 'Ubuntu', sans-serif; 
  padding: 0;
  margin: 0;
  background-color: var(--light);
}
.inicio{
  background-color: var(--gris);
}



.imgPolaris{
  height: 75px;
}

.p3d-footer{
  height: 150px;
}

.img-main{
  width: 400px;
}